footer {
    background-color: #000;
    height: 650px;
    color: var(--color-white);
    font-family: 'Roboto', sans-serif;
}

.footer__container {
    margin: 0 auto;
    width: 1230px;
    padding-top: 28px;
}

.footer__title {
    font-size: 0.9rem;
    font-weight: 700px;
    margin-bottom: 25px;
}

.footer__subtitle {
    font-size: 2.7rem;
    font-weight: 700;
    line-height: 1.2;
}

.footer__link {
    margin-top: 80px;
}

.footer__link a {
    font-size: 2.8rem;
    color: var(--color-white);
    font-weight: 700;
}

.footer__link a:hover {
    color: var(--color-turquoise);
}

.footer__column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.info__item {
    margin-top: 150px;
    max-width: 100%;
    flex: 0 0 23%;
    font-size: 0.9rem;
    text-align: center;
    line-height: 1.9;
    text-align: start;
}

.info__item a {
    text-decoration: none;
    color: var(--color-white);
}

.info__name {
    font-size: 1.8rem;
}

.info__find a {
    text-decoration: none;
    color: var(--color-light-grey);
    font-weight: 700;
    font-size: 1.1rem;
}

.footer__line {
    margin-top: 38px;
}

.footer__line:after {
    content: '';
    background-color: #383838;
    height: 1px;
    display: block;
}

.footer__label {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: var(--color-light-grey);
}