.footer{
    max-width: 1200px;
    margin: auto;
}
.footer__container{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.footer__about{
    margin: 80px 50px;    
}
.footer__title{
    font-weight: 900;
}
.footer__subtitle{
   font-size: 90px;
    font-weight: 900;
}
.footer__link{
    text-align: center;
}
.footer__link a{
    color: var(--color-text);
    font-size: 50px;
}
.footer__link a:hover{
    color: #47b1bb;
   
}
.footer__column{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 25px 0 25px;
    font-family: 'Roboto', sans-serif;

}
.info__item{
    padding: 15px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
  margin-bottom: 50px;
   text-align: center;

}
.info__name{
    font-weight: 900;
    font-size: 45px;
    margin-top: 80px;
}
.info__find a{
    text-decoration: none;
    color: var(--color-social);
}
.footer__line{
    padding: 20px;
}
.footer__line:after {
    content: '';
    background-color: #383838;
    height: 3px;
    display: block;
}
.footer__label{
    font-size: 0.8rem;
    line-height: 2;
    display: flex;
    justify-content: space-between;
    text-align: center;
   margin: 0 20px 0 20px;
}  