@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Josefin+Sans:wght@100;200;300;400;700&family=Lato:wght@300&family=Roboto:wght@300;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --body-fonts: 'Roboto', sans-serif;
  --site-bg: #000;
  
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  padding: 15px;
  margin: 0 auto;
}
