.collaboration-block {
    text-align: center;
    margin: 50px auto;
    background-color: #141414; 
    border-radius: 0; 
    padding: 20px; 
    width: 90%; 
    max-width: 1400px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.collaboration-content {
    color: #fff; 
    font-size: 48px; 
    padding: 40px; 
}



.collaboration-caption{
    font-size: 25px;
    margin-bottom: 40px;
}

.collaboration-main-content {
    font-size: 1.3em; 
    margin-bottom: 20px; 
}

.button-discuss {
    background-color: #ffffff; 
    color: #000000;
    height: 60px;
    width: 250px;
    padding: 10px 20px; 
    font-size: 20px; 
    border: none; 
    border-radius: 0px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}
.button-discuss:hover {
    background-color: #2980b9;
    color: #ffffff;
}


@media (max-width: 600px){
    .collaboration-content{
    display: inline-block;
    vertical-align: top;
    font-size: calc();
    word-wrap: break-word;
    }
    .button-discuss{
        top:10px;
        right:10px;
        font-size:calc();
        /* height: 150px; */
    }
    .collaboration-caption{
        margin-bottom: 35px;
        font-size: 15px;
    }
    .collaboration-content{
        font-size: 35px;
    }
}
