.main-logo-company__subtitle {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: left;
    max-width: 1200px;
    margin: auto;
}

.main-logo-company__title {
    font-size: 42px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: left;
    max-width: 1200px;
    margin: auto;

}

.image-container {
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: left;
    max-width: 1230px;
    margin: auto;

}

.image-button {
    width: 272px;
    height: 224px;
    margin: 15px;
}

@media (min-width: 10px) {
    .image-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 990px) {
    .image-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}