.person {
    color: var(--color-text);
    font-family: 'Roboto', sans-serif;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 65px;
}

.person__info {
    padding-left: 20px;
}

.person__info-title {
    font-size: 15px;
    line-height: 25.5px;
    font-weight: 700;
    letter-spacing: normal;
    width: 33.3333%;
}

.person__experience {
    font-size: 38px;
    line-height: 54.6px;
    font-weight: 700;
    letter-spacing: normal;
    width: 33.3333%;
}

.person__container {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
    margin: auto;
}

.person__category {
    width: 33.33333%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    word-wrap: break-word;
}

.person__category-label {
    margin-bottom: 15px;
    margin-top: 15px;
}

.person__category-label,
.person__awards-label {
    font-size: 21px;
    line-height: 31.5px;
    font-weight: 900;
    letter-spacing: 6.3px;
    width: 33.33333%;
}

.person__category-description {
    margin-top: 15px;
}

.person__category-description,
.person__quote-author {
    color: rgb(169, 169, 169);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 25.5px;
    font-weight: 400;
    letter-spacing: normal;
    margin-bottom: 15px;
}

.person__social-links {
    width: 40%;
    height: auto;
    color: var(--color-text);
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-between;
}

.person__social-link--twitter {
    padding-top: 5px;
}

.person__awards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    margin-top: 15px;
}

.person__award-link {
    color: var(--color-text);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 25.5px;
    font-weight: 400;
    letter-spacing: normal;
}

.person__quote {
    font-size: 38px;
    line-height: 54.6px;
    font-weight: 700;
    letter-spacing: normal;
}

.person__project-link {
    color: var(--color-text);
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    line-height: 30.4px;
    font-weight: 700;
    letter-spacing: normal;
    width: 100%;
    text-decoration: none;
    }

.person__projects {
    /* border: 2px solid blue; */
    width: 100%;
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 20px;
}

.person__project {
    width: 33.33333%;
    aspect-ratio: 3/4;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.person__projects--title {
    width: 33.33333%;

}

.person__project--sands {
    width: 100%;
    aspect-ratio: 3/4;
    background-image: url(../img/white-sands.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    margin-bottom: 15px;
}

.person__project--walking {
    width: 100%;
    aspect-ratio: 3/4;
    background-image: url(../img/sunset.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .person__projects {
        /* border: 2px solid blue; */
        width: 100%;
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-left: 20px;
        margin: auto;
    }

    .person__container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        /* border: 2px solid red; */
        width: 100%;
        height: auto;
        margin: auto;
        align-items: center;
    }

    .person__experience {
        font-size: 34px;
        line-height: 54.6px;
        font-weight: 700;
        letter-spacing: normal;
        padding-left: 20px;
        width: 33.3333%;
    }

    .person__quote {
        font-size: 36px;
        line-height: 54.6px;
        font-weight: 700;
        letter-spacing: normal;
    }

    .person__project {
        width: 100%;
        padding: 40px 30px;

    }

    .person__category {
        width: 100%;
        margin: auto;
    }

    .person__project--sands,
    .person__project--walking,
    .person__experience,
    .person__projects--title,
    .person__project-link {
        width: 86%;
    }
    .person__project-link {
        align-self: center;
    }
}