.hello-there__content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hello-there__title{
    font-weight: bold;
    font-size: 15px; 
}

.hello-there__subtitle{
    font-size: inherit;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    min-width: 320px;
    font-size: 42px;
    font-weight: 700px;
    text-transform: none;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
}
.hello-there__tabs--gallery {
    display: flex;
    font-weight: bold;
}

.hello-there__tab-button{
    padding: 15px 20px;
 }

 .hello-there__tab-button:hover{
    text-decoration: underline;
}

.hello-there__card-image{
    display: block;
    margin: auto;
}

.hello-there__card-title{
    margin-top: 15px;
    margin-bottom: 10px;
}

.hello-there__card-time{
    display: block;
    margin-bottom: 35px;
}

.hello-there__card-time{
    color:var(--color-text-content)
}

@media (min-widht: 768px){
    .hello-there__card-img{
        display: inline-block;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
