.main-logo-company__subtitle {
    font-size: 15px;
    text-align: left;
    max-width: 1200px;
    margin: auto;
    padding: 75px 0px 15px;
}

@media (min-width: 320px) {
    .main-logo-company__subtitle {
        font-size: 15px;
        text-align: left;
        min-width: 320px;
        margin: auto;
        padding-left: 30px;
    }
}

.main-logo-company__title {
    font-size: 42px;
    font-weight: bold;
    text-align: left;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 50px;
}

@media (min-width: 320px) {
    .main-logo-company__title {
        font-weight: bold;
        text-align: left;
        width: 100%;
        padding-left: 30px;
        font-size: 50px;
        line-height: 1.3;
        letter-spacing: 1;
    }
}

.image-container {
    max-width: 1230px;
    margin: auto;
}

.image-button {
    width: 100%;
    height: auto;
    margin: 15px;
}

@media (min-width: 320px) {
    .image-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 770px) {
    .image-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 990px) {
    .image-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}