        .main-logo-company__new{
        display: flex;
        justify-
        }
        .main-logo-company__subtitle {
            font-family: Roboto, sans-serif;
            font-size: 15px;
            justify-content: center;
            padding-right: 12%;
            padding-left: 19%;
            margin-top: 5%;
            margin-bottom: 1%;
        }
        .main-logo-company__title {
            font-family: Roboto, sans-serif;
            font-size: 42px;
            padding-right: 12%;
            padding-left: 19%;
            margin-bottom: 4%;
        }

        .image-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .image-button {
            width: 272px;
            height: 224px;
            margin: 15px;
        }