.hello-there__content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hello-there__title{
    font-weight: bold;
    font-size: 15px; 
}

.hello-there__subtitle{
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    min-width: 320px;
    font-size: 42px;
    text-transform: none;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
}

/* .hello-there__tab-button{
    padding: 15px 20px;
    font-weight: bold;
 } */

 /* .hello-there__tab-button:hover{
    text-decoration: underline;
    transition: text-decoration 6.3s ease; */

.hello-there__tabs--gallery{
    display: flex;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--color-border-bottom) 
}

.hello-there__tab-button {
    padding: 15px 20px;
    font-weight: bold;
}
.hello-there__tab-button {
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
    border-bottom-color: var(--color-text);
}

.hello-there__card-image{
    display: block;
    margin: auto;
}

.hello-there__card-title{
    margin-top: 15px;
    margin-bottom: 10px;
}

.hello-there__card-time{
    display: block;
    margin-bottom: 35px;
}

.hello-there__card-time{
    color:var(--color-text-content)
}

@media (min-width: 768px){
    .hello-there__category{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
}