.map
{
  width: 100%;
  aspect-ratio: 3 / 4;
  overflow: hidden;
}

.map iframe {
  border: 0;
}

@media screen and (min-width: 1024px){ 
  .map{
    aspect-ratio: 2.5 / 1;
  }
}

.map-contacts {
  z-index: 1;
  position: absolute;
  width: 200px;
  height: 200px;
  background: black;
  margin-left: 100px;
}
