.inspiration {
    padding: 100px 0 75px;
}
.inspiration__inner {
    padding: 0 24px;
}
.inspiration__inner-text {
    padding: 0 15px;
    margin: 50px 0 0;
}
.inspiration__inner-text__header {
    font-size: 15px;
}
.inspiration__inner-text__paragraph {
    padding: 20px 0;
    font-size: 34px;
    font-weight: 700;
}
.inspiration__inner-gallery-leftblock,
.inspiration__inner-gallery-centerblock,
.inspiration__inner-gallery-rightblock {
    padding: 0 15px;
    margin: 50px 0 0;
}
.inspiration__inner-gallery__photo {
    max-width: 100%;
    padding: 10px;
}
.inspiration__inner-gallery__paragraph {
    font-size: 15px;
    text-align: left;
    padding: 10px 0;
    color: var(--color-social);
    font-weight: 400;
}
.inspiration__inner-gallery-link {
    display: block;
    text-decoration: none;
    font-size: 22px;
    text-align: left;
    padding: 10px 0;
    color: var(--color-text);
    font-weight: 700;
}
.inspiration__inner {
    display: grid;
    grid-template-columns: 1fr;
}
.inspiration__inner-gallery {
    text-align: center;
}
@media (min-width: 768px) {
    .inspiration__inner-gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "a b"
            "c c";
    }
    .inspiration__inner-gallery-rightblock{
        max-width: 50%;
        margin: auto;
    }
}
@media (min-width: 992px) {
    .inspiration__inner-gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "a b c"
    }
    .inspiration__inner-gallery-rightblock{
        max-width: 100%;
        margin: 50px 0 0;
    }
}
.inspiration__inner-gallery-leftblock {
    grid-area: a;
}
.inspiration__inner-gallery-centerblock {
    grid-area: b;
}
.inspiration__inner-gallery-rightblock {
    grid-area: c;
}