@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');



.ourteam {
    box-sizing: border-box;
    margin: 174px;
    max-width: 100%; /* Зробити картинку не ширше родительського контейнера */
    height: auto; /* Зберігати пропорції при зміні ширини */
    text-align: left;
    margin: 20px auto;
    border-radius: 0; 
    padding: 20px; 
    width: 90%; 
    max-width: 1400px; 
    /* height: 600px; */ 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    
    position: relative;
    align-items: left; /* Выравнивание по центру по вертикали */
    justify-content: center; /* Выравнивание по центру по горизонтали */
    
}

.positionofworkers {
    color: #8f83ff;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
}

.workertext {
    font-family: 'Manrope', sans-serif;
    color: #9d9c9c;
}

.maillinks {
    width: 20px;
    font-family: 'Manrope', sans-serif;
    color: #b7b7b7;
}

.workeralltext {
    padding-top: 31px;
    padding-bottom: 31px;
    padding-left: 27px;
    padding-right: 27px;
}


.naming {
    font-size: 68px;
    text-indent: 84px;
    margin-top: 50px;
}

@media screen and (max-width: 550px) {
    .naming {
      font-size: 40px; /* Размер шрифта при уменьшении ширины экрана до 600px */
      text-indent: 20px;
    }
}

.textl {
    color: rgb(183,183,183);
    font-family: 'Manrope', sans-serif;
    margin-bottom: 20px;
}

.textk {
    color: #73cae5;
    font-weight: bold;
}

@media only screen and (max-width: 550px) {
    .watchall {
        flex-direction: column; /* Зміна напрямку на вертикальний при зменшенні ширини екрану */
        align-items: left; /* Центрування елементів по центру при зменшенні ширини екрану */
        padding: 0 84px;
    }
}

.watchall {
    display: block;
    display: inline-block; /* Зробити контейнер блокувальним, але залишити його в лінії */
    width: 100%; /* Якщо потрібно зайняти всю ширину доступного простору */
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    display: flex;
    justify-content: space-between; /* Розташування елементів з обох сторін рядка */
}

.jashi {
    display: inline-block;
    max-width: 100%; /* Чтобы изображение не выходило за пределы контейнера */
    margin-right: 10px; /* Расстояние между изображением и текстом */
    margin: 0 auto; /* Автоматический отступ слева и справа для центрирования блочного элемента (изображения) */
}