.portfolio__photo
{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 15px;
}

.portfolio__photo img
{
  width: 100%;
}

.big-image
{
  width: 70%;
}

.small-images
{
  width: 31%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 15px;
}