.header__hero
{
  text-align: center;
  background-image: url("../img/baground.jpg");
}

.hero__title
{
  font-size: 60px;
  text-align: center;
  font-family: var(--body-fonts);
  color: var(--color-white);
  font-weight: 400;
  transition: 1s linear;
  margin-bottom: 100px;
}

.hero__title:hover
{
  color: rgb(4, 94, 132);
}

.header__image img
{
  width: 100%;
}