@import url(variables.css);

.header__hero
{
  text-align: center;
  background-image: url("../img/baground.jpg.webp");
}

.hero__title
{
  font-size: 60px;
  font-family: var(--body-fonts);
  color: var(--primary-color);
  font-weight: 400;
  transition: 1s linear;
}

.hero__title:hover
{
  color: rgb(4, 94, 132);
}

.header__image img
{
  height: 1170px;
}