:root {
    --color-white: rgb(255, 255, 255);
    --color-turquoise: #47b1bb;
    --color-light-grey: rgb(169, 169, 169);
}
h1,
h2,
h3,
p{
    margin: 0;
    padding: 0; 
}
body {
    background-color: #000;
    color: #fff;
}

.portfolio__container {
    display: block;
    align-items: center;
    width: 1150px;
    height: 330px;
    background-color: rgb(20, 20, 20);
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 47px;
    margin-bottom: 180px;
}

.info__title {
    font-size: 0.9rem;
    margin: 35px 0 25px 0;
}

.info__text {
    max-width: 1000px;
    text-align: center;
    font-size: 2.7rem;
    font-weight: 700;
    margin: 0 auto;
}

.info__link {
    margin-top: 50px;
}

.info__link a {
    font-size: 2.8rem;
    color: #fff;
    font-weight: 700;
}

.info__link a:hover {
    color: var(--color-turquoise);
}




