<style>
<!--Maksym Parashchuk
        body {
            background-color: black;
            color: white;
        }



        .main-logo-company__subtitle {
            font-family: Roboto, sans-serif;
            font-size: 15px;
            max-width: 1200px;
            margin-left: 355px;
            min-width: -272;

        }
        .main-logo-company__title {
            font-family: Roboto, sans-serif;
            font-size: 42px;
            max-width: 1200px;
            margin-left: 355px;
            min-width: -272;
        }

        .image-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center; /* Вирівнюємо зображення по центру */
        }

        .image-button {
            width: 272px;
            height: 224px;
            margin: 15px; /* Додаємо зовнішній відступ між зображеннями */
        }
    </style>